<div class="divPrincipal">
    <img *ngIf="profileImage.length != 0" class="imageThumbail" [src]="profileImage" alt="image profile">
    <img *ngIf="profileImage.length == 0 && hasBack" class="imgButton" (click)="clickBack()" src="assets/icon/left-arrow_black.svg" alt="back icon">
    <div class="divTitle">
        <h1 [ngStyle]="{'font-size': fontsize}" class="h1Title">{{title}}</h1>
    </div>
    <img class="imageIcon" (click)="clickIcon()" [ngStyle]="{'width': iconSize}" *ngIf="icon.length != 0" [src]="icon" alt="icon asset">
</div>