
<ion-content>
    <div class="container-vertical tx-center">
        <img class="width-45 mar-top-10" src="assets/icon/logo.png" alt="logo app">
        <img class="mar-top-15" src="assets/images/welcome.png" alt="image onboarding">

        <div class="tx-left padd-l-r-24  mar-top-5 font-poppins-regular">
            <h1 class="text-big padd-0 mar-0 font-bold">Encuentra los mejores audifonos</h1>
            <h4 class="mar-top-18 text-small padd-0 mar-0">Busca y adquiere los mejores audifonos de las mejores marcas al alcance de tu móvil.</h4>
        </div>

        <div class="width-75" style="padding: 25px 0px;">
            <virket-button title="Comenzar" (onClick)="start()" [isFull]="false" sizeText="medium"></virket-button>
        </div>

    </div>
</ion-content>