.thumbDiv {
    width: 175px;
    height: 175px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.favoriteDiv{
    position: absolute;
    margin-left: 145px;
    margin-top: 13px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: background-color .3s;
}

.isFavorite{
    background-color: #FF1F2C;
}

.notFavorite {
    background-color: #BDBCBC;
} 

.imgFavorite{
    width: 70%;
    padding: 3px 3px;
}

.backgroundImage{
    margin-left: 55px;
    margin-top: 7px;
}

.divImageContent {
    width: 175px;
    position: absolute;
    text-align: center;
    margin-top: 10px;
}

.imageProduct{
    height: 75px;
    transform: rotate(20deg);
}

.divAdd{
    background-color: #F47F1F;
    height: 45px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}