<ion-header class="ion-no-border">
    <virket-header iconSize="40px" [route]="routeToSend" icon="assets/icon/shopping_cart_black.svg" (onIconClick)="goShoppingCart()"></virket-header>
</ion-header>

<ion-content class="font-poppins-regular">

    <div class="divImageContent">
        <img class="imageProduct" [src]="productDetail.product_image" alt="image product">
    </div>

    <img class="backgroundImage" src="assets/images/polygon.png" alt="backgrund image">
    <div class="pad-r-l-17 mar-top-40">
        <ion-grid class="padd-0">
            <ion-row class="padd-0">
                <ion-col size="9" class="padd-0">
                    <h5 class="mar-0 font-bold" [ngStyle]="{'font-size' : fontSize }">{{ productDetail.product_name }}</h5>
                </ion-col>
                <ion-col class="padd-0 tx-right mar-top-22">
                    <h5 class="mar-0 text-large color-body">{{ productDetail.brand }}</h5>
                </ion-col>
            </ion-row>
            <ion-row class="padd-0">
                <ion-col size="4" class="padd-0">
                    <virket-reating size="24px" reating="3"></virket-reating>
                </ion-col>
                <ion-col style="padding: 5px 0 0 16px;" size="3" class="padd-0">
                    <h5 class="mar-0 text-small color-body">{{ productDetail.reviews }} reseñas</h5>
                </ion-col>
                <ion-col class="padd-0 tx-right">
                    <h5 class="mar-0 text-medium color-primary font-bold mar-right-4">{{ productDetail.product_price | currency }}</h5>
                </ion-col>
            </ion-row>
        </ion-grid>

       
    </div>
    <div class="divBody pad-r-l-20 pad-t-1">
        <h5 class="mar-0 text-small mar-top-25 mar-bottom-2 font-bold">Colores</h5>
        <div class="colorsContent">
            <div class="colorClass" *ngFor="let color of productDetail.colors" [ngStyle]="{'background-color': color.hex}"></div>
        </div>
        <h5 class="mar-0 text-small mar-top-10 font-bold">Descripción</h5>
        <h6 style="line-height: 20px;" class="mar-0 text-small mar-top-10 color-body">
            {{ productDetail.description }}
        </h6>

        <ion-grid class="padd-0">
            <ion-row class="padd-0">
                <ion-col size="3" class="padd-0">
                    <div class="divFavorite" (click)="addToFavorite()">
                        <img class="iconFavorite" [src]="favoriteIcon" alt="is favorite icon">
                    </div>
                </ion-col>
                <ion-col class="padd-0 pad-t-5">
                    <virket-button title="Agregar al carrito" icon="assets/icon/add_shopping_cart.svg" (onClick)="addToCart()" [isFull]="false" sizeText="medium"></virket-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>