<ion-grid class="no-p-m">
  <h1 *ngIf="titleIs == 'top' && title.lenght != 0" [ngStyle]="{'font-size': sizeTitle, 'color': originalTitleColor}">{{title}}</h1>
  <ion-row class="no-p-m borderInput">
    <ion-col class="no-p-m" *ngIf="leftIcon" size="1">
      <ion-icon class="iconClass" *ngIf="typeImage == 'icon'" [name]="iconResource"></ion-icon>
      <img class="iconClass" *ngIf="typeImage == 'image'" [src]="iconResource" alt="image asset">
    </ion-col>
    <ion-col class="no-p-m" [size]="sizeInput">
      <input type="text" class="inputClass">
    </ion-col>
    <ion-col class="no-p-m" *ngIf="rigthIcon" size="1">
      <ion-icon class="iconClass" *ngIf="typeImage == 'icon'" [name]="iconResource"></ion-icon>
      <img class="iconClass" *ngIf="typeImage == 'image'" [src]="iconResource" alt="image asset">
    </ion-col>
  </ion-row>
  <ion-row *ngIf="error.lenght != 0" class="no-p-m">
    <h1 class="errorLabel">{{error}}</h1>
  </ion-row>
  <ion-row *ngIf="titleIs == 'bottom' && title.lenght != 0" class="no-p-m">
      <h1 [ngStyle]="{'font-size': sizeTitle, 'color': originalTitleColor}">{{title}}</h1>
  </ion-row>
</ion-grid>
