
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.no-p-m{
    padding: 0;
    margin: 0;
}

.inputClass {
    width: 99%;
    border: none;
    font-family: 'Poppins-Medium';
    height: 35px;
}

.iconClass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 24px;
}

.borderInput{
    border-bottom: 1px solid black;
}

.titleClass{
    font-family: 'Poppins-Medium';
    font-size: 16px;
}