
    <div class="divContent">
      
      <div class="divTabs">
        <div class="tabsMenu" slot="bottom" id="appTabs">
            <ion-grid class="padd-0">
                <ion-row class="padd-0">
                    <ion-col (click)="sendExplore()" class="padd-0" size="4">
                        <div id="explore">
                            <img src="assets/icon/explore.svg" class="genericImage" alt="icon home">
                          </div>
                    </ion-col>
                    <ion-col (click)="shoppingCart()" class="padd-0" size="4">
                        <div id="shopping">
                            <div class="divCart">
                              <img src="assets/icon/shopping_cart.svg" class="imgCart" alt="icon inventory">
                            </div>
                          </div>
                    </ion-col>
                    <ion-col (click)="goCatalog()" class="padd-0" size="4">
                        <div id="products">
                            <img src="assets/icon/list.svg" class="genericImage" alt="icon delivery">
                          </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </div>
     
    </div>
    
  